.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__tAxQg {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.freeBox__tAxQg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tAxQg > :global(.__wab_flex-container) > *,
.freeBox__tAxQg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tAxQg > :global(.__wab_flex-container) > picture > img,
.freeBox__tAxQg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1252px) {
  .freeBox__tAxQg {
    padding-bottom: 0px;
    display: flex;
  }
}
@media (max-width: 1152px) {
  .freeBox__tAxQg {
    height: 100px;
    padding-bottom: 0px;
    align-self: center;
    padding-right: 16px;
    padding-left: 20px;
    flex-shrink: 0;
    display: flex;
  }
}
.freeBox__lKuz5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-cBnBCdJKqFIioJ);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__lKuz5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lKuz5 > :global(.__wab_flex-container) > *,
.freeBox__lKuz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lKuz5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lKuz5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1252px) {
  .freeBox__lKuz5 {
    max-height: 200px;
  }
}
@media (max-width: 1152px) {
  .freeBox__lKuz5 {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1152px) {
  .freeBox__lKuz5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1152px) {
  .freeBox__lKuz5 > :global(.__wab_flex-container) > *,
  .freeBox__lKuz5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lKuz5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lKuz5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.blogLogo:global(.__wab_instance) {
  max-width: 246px;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
@media (max-width: 1252px) {
  .blogLogo:global(.__wab_instance) {
    align-self: flex-start;
  }
}
@media (max-width: 1152px) {
  .blogLogo:global(.__wab_instance) {
    align-self: center;
  }
}
.freeBox___4Q05U {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox___4Q05U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___4Q05U > :global(.__wab_flex-container) > *,
.freeBox___4Q05U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Q05U > :global(.__wab_flex-container) > picture > img,
.freeBox___4Q05U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 1152px) {
  .freeBox___4Q05U {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__urkEr:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__x031H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qgKrQ {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__pKh5R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__eqLfb:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (max-width: 1152px) {
  .button__eqLfb:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__jhdqb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tb8Ot {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__juC7G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bjBaF:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (max-width: 1152px) {
  .button__bjBaF:global(.__wab_instance) {
    display: none;
  }
}
.svg__vnFuv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3LAw2 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__c7Hi4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.form {
  flex-direction: row;
  display: flex;
  position: relative;
}
.form > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 1152px) {
  .form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    align-self: center;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .form > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1152px) {
  .form > :global(.__wab_flex-container) > *,
  .form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .form > :global(.__wab_flex-container) > picture > img,
  .form
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 300px;
  flex-shrink: 0;
  margin: 2px 20px;
}
@media (max-width: 1252px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    align-self: flex-end;
  }
}
@media (max-width: 1152px) {
  .textInput:global(.__wab_instance) {
    height: 55px;
    width: 225px;
    margin-left: calc(20px + 8px) !important;
    margin-top: calc(2px + 0px) !important;
    flex-shrink: 0;
  }
}
.svg__wSnEu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zgzKq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__h9Qvo:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (max-width: 1152px) {
  .button__h9Qvo:global(.__wab_instance) {
    display: none;
  }
}
.svg__cdFjL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tAtVv {
  color: var(--token-I56vz-0ZcYJ76f);
  padding-right: 20px;
}
.svg__g2Oqo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 1152px) {
  .svg__g2Oqo {
    display: block;
  }
}
.button__rEaM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: block;
}
@media (max-width: 1152px) {
  .button__rEaM:global(.__wab_instance) {
    display: block;
  }
}
.svg__q7IUm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vBGyi {
  text-align: center;
  padding-right: 2px;
  padding-top: 2px;
}
@media (max-width: 1152px) {
  .text__vBGyi {
    font-size: 12px;
  }
}
.svg__fStLn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
