.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #000000;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__oo29Y {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-aaQAzZ133C_HTJ);
  width: 100%;
  min-width: 0;
}
.freeBox__oo29Y > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__oo29Y > :global(.__wab_flex-container) > *,
.freeBox__oo29Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oo29Y > :global(.__wab_flex-container) > picture > img,
.freeBox__oo29Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox__oo29Y {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__oo29Y > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__oo29Y > :global(.__wab_flex-container) > *,
  .freeBox__oo29Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oo29Y > :global(.__wab_flex-container) > picture > img,
  .freeBox__oo29Y
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__xoWvX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__xoWvX {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nl7Ru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-Dow1vpW5h4qT5G);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__nl7Ru {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__hZnSg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__hZnSg {
    align-items: center;
    justify-content: center;
  }
}
.svg__slVsB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__z9SY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svg__uj6UR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__dIcrg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.freeBox__e4Sk {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__e4Sk {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__q6GYm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__q6GYm {
    text-align: center;
    margin-top: 53px;
  }
}
.button__qocX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
  display: block;
}
@media (max-width: 930px) {
  .button__qocX:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___4DkzC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aRIx {
  color: var(--token-Dow1vpW5h4qT5G);
}
.svg__kr8Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rCy26:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__rCy26:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__znGOu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9FF1K {
  color: var(--token-Dow1vpW5h4qT5G);
}
.svg__dW9Hb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tCvS1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__tCvS1:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__kYow4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dBiSz {
  color: var(--token-Dow1vpW5h4qT5G);
}
.svg__dQmP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___9YgNs {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox___9YgNs {
    justify-content: center;
    align-items: center;
  }
}
.h4__gOk8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__gOk8 {
    text-align: center;
    margin-top: 46px;
  }
}
.button__macgz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__macgz:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__atb73 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iBrZe {
  color: var(--token-Dow1vpW5h4qT5G);
}
@media (max-width: 930px) {
  .text__iBrZe {
    text-align: center;
  }
}
.svg__g7EDl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mdNFu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__mdNFu:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___1P37A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__l4ISu {
  color: var(--token-Dow1vpW5h4qT5G);
}
@media (max-width: 930px) {
  .text__l4ISu {
    text-align: center;
  }
}
.svg__rZzp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__pDQI {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__pDQI {
    justify-content: center;
    align-items: center;
  }
}
.h4__jZui {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__jZui {
    text-align: center;
    margin-top: 46px;
  }
}
.text__heFnr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__heFnr {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__gu3Yn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5A6YO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__xxL7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__xxL7:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg__um8Vy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__vaxiz {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__ugYv3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox___66JBc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox___66JBc {
    align-self: center;
  }
}
.text__gt6JV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-Dow1vpW5h4qT5G);
  margin-top: 100px;
}
