.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 114px;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 1152px) {
  .root {
    background: #ffffff;
    padding-bottom: 76px;
  }
}
.freeBox__kwat2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  background: #000000;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
.columns__enP5J {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__enP5J > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__enP5J > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__enP5J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__enP5J > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tu8Ue {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1152px) {
  .column__tu8Ue {
    display: none;
  }
}
.column__oqBot {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__j4Jye {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 1152px) {
  .freeBox__j4Jye {
    padding-right: 0px;
  }
}
.text___8O3I {
  width: 100%;
  max-width: 800px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text___8O3I {
    padding-top: 5px;
    display: block;
  }
}
.freeBox__xsUFj {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 43px;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-top: 50px;
  align-self: flex-end;
  margin-right: 0px;
  min-width: 0;
  display: none;
}
@media (max-width: 1152px) {
  .freeBox__xsUFj {
    display: none;
  }
}
.button__pfqJi {
  position: relative;
  text-align: right;
  align-self: flex-end;
  background: #86dc45;
  color: var(--token-tlaSOFzbF);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 8px 9px;
}
@media (max-width: 1152px) {
  .button__pfqJi {
    display: none;
  }
}
.link__eVkJn {
  position: relative;
  margin-top: 6px;
  display: flex;
}
@media (max-width: 1152px) {
  .link__eVkJn {
    display: flex;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
@media (max-width: 1152px) {
  .svg {
    margin-top: 5px;
    display: block;
  }
}
.freeBox__tgOne {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__tgOne {
    display: flex;
  }
}
.columns__lFpEn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lFpEn > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lFpEn > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__lFpEn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__lFpEn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lHAm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__mLnji {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.logo:global(.__wab_instance) {
  max-width: 246px;
  position: relative;
}
.column__jVcz6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gbqOb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-size: 15px;
  min-width: 0;
}
.freeBox__tmw3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 656px;
  height: auto;
  max-width: 100%;
  padding: 89px 8px 50px;
}
.freeBox__lvjS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1152px) {
  .freeBox__lvjS {
    padding-top: 0px;
    width: auto;
  }
}
.text__wD9Au {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-yVhCEUIOp);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__wD9Au {
    font-size: 14px;
    padding: 15px;
  }
}
.text___4TDc4 {
  position: relative;
  width: auto;
  height: 77px;
  max-width: 800px;
  font-size: 33px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-weight: 800;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .text___4TDc4 {
    padding-bottom: 0px;
    line-height: 37px;
    width: 400px;
    font-size: 28px;
  }
}
.freeBox__k6Ti7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 473.59px;
  max-width: 100%;
  margin-top: 48px;
  background: var(--token-mz2wrosK-);
  border-radius: 5px;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__k6Ti7 {
    margin-top: 60px;
  }
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__kLvcv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 26px;
  color: var(--token-KtLSLsCvb);
  font-weight: 800;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 409.59px;
  height: 64px;
  margin-bottom: 8px;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .textInput:global(.__wab_instance) {
    width: 340px;
  }
}
.svg__bolsC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iIDsV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 409.59px;
  height: 64px;
  margin-bottom: 24px;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .textInput2:global(.__wab_instance) {
    width: 340px;
  }
}
.svg__sb3Cm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__z60Jd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__pJtrq {
  position: relative;
  width: 409.59px;
  height: 64px;
  background: var(--token-vHb3nx1t6Zc1Q1);
  color: var(--token-c8INgJzL6YO8CI);
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 23px;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .button__pJtrq {
    width: 340px;
    font-size: 15px;
    align-self: center;
    padding: 0px;
  }
}
.text__fv07C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-bottom: 15px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text__dcJxs {
  position: relative;
  width: 370px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  line-height: 24px;
  font-family: "Inter", sans-serif;
  display: none;
  padding: 10px 0px;
  margin: 0px;
}
.text__kkZdX {
  position: relative;
  width: 553.75px;
  height: 67px;
  max-width: 800px;
  font-size: 20.8px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 1152px) {
  .text__kkZdX {
    padding-bottom: 20px;
    width: 550px;
    font-size: 15px;
    padding-right: 90px;
    padding-left: 91px;
  }
}
.freeBox__bEQzM {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__bEQzM {
    display: none;
  }
}
.columns___3ZAxd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___3ZAxd > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1152px) {
  .columns___3ZAxd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 1152px) {
  .columns___3ZAxd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qbqwp {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .column__qbqwp {
    display: none;
  }
}
.columns__m3VUr {
  position: relative;
  width: 660px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  display: none;
  padding: 8px;
}
.columns__m3VUr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__m3VUr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__m3VUr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 1152px) {
  .columns__m3VUr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uiOeL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 0px;
}
@media (max-width: 1152px) {
  .column__uiOeL {
    display: none;
  }
}
.columns__etfCh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__etfCh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__etfCh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__etfCh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__etfCh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vHCd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bTa8C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 42px;
  align-self: center;
  flex-shrink: 0;
}
.img__bTa8C > picture > img {
  object-fit: cover;
}
.img__bTa8C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__oJNb8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mb4Lr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
}
.img__mb4Lr > picture > img {
  object-fit: cover;
}
.img__mb4Lr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___97V4B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1152px) {
  .column___97V4B {
    display: none;
  }
}
.columns__zeHrb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zeHrb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__zeHrb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__zeHrb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__zeHrb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___2Sggl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 1152px) {
  .column___2Sggl {
    display: none;
  }
}
.img__y6Z1A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 100%;
}
.img__y6Z1A > picture > img {
  object-fit: cover;
}
.img__y6Z1A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__eBxJs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.img__u13O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 42px;
  flex-shrink: 0;
}
.img__u13O > picture > img {
  object-fit: cover;
}
.img__u13O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__wUzuY {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__wUzuY {
    display: none;
  }
}
.columns___4P50V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___4P50V > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___4P50V > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns___4P50V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns___4P50V > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 1152px) {
  .columns___4P50V > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__p90Wp {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 24px 8px 61px;
}
@media (max-width: 1152px) {
  .column__p90Wp {
    display: flex;
  }
}
.img__haOts {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 180px;
}
.img__haOts > picture > img {
  object-fit: cover;
}
.img__haOts > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__q1ZrL {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 31px 8px 8px;
}
@media (max-width: 1152px) {
  .column__q1ZrL {
    display: flex;
  }
}
.img__fn1RK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 180px;
}
.img__fn1RK > picture > img {
  object-fit: cover;
}
.img__fn1RK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___77Ke {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 5px;
}
@media (max-width: 1152px) {
  .freeBox___77Ke {
    display: flex;
  }
}
.columns__fkXzg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__fkXzg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fkXzg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__fkXzg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__fkXzg > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 1152px) {
  .columns__fkXzg > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__uIvsc {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 16px 8px 49px;
}
@media (max-width: 1152px) {
  .column__uIvsc {
    display: flex;
  }
}
.img__g6TTx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
}
.img__g6TTx > picture > img {
  object-fit: cover;
}
.img__g6TTx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__qPi27 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 39px 0px 2px;
}
@media (max-width: 1152px) {
  .column__qPi27 {
    display: flex;
  }
}
.img___6K47F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 74px;
  flex-shrink: 0;
}
.img___6K47F > picture > img {
  object-fit: cover;
}
.img___6K47F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ciooW {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.img___1WkYk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 600px;
  height: 61px;
  margin-top: 13px;
  flex-shrink: 0;
}
.img___1WkYk > picture > img {
  object-fit: cover;
}
.img___1WkYk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1152px) {
  .img___1WkYk {
    width: 650px;
    object-fit: contain;
  }
}
@media (max-width: 1152px) {
  .img___1WkYk > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1152px) {
  .img___1WkYk > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.text__ydyWw {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 608px;
  margin-bottom: 0px;
  color: var(--token-nsn0GxMCBwQ3jx);
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  min-width: 0;
  min-height: 0;
  display: none;
}
@media (max-width: 1152px) {
  .text__ydyWw {
    padding-left: 15px;
  }
}
.freeBox__jr5Td {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__jr5Td {
    display: none;
  }
}
.freeBox__xwIrV {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 619px;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px 8px 8px 12px;
}
@media (max-width: 1152px) {
  .freeBox__xwIrV {
    padding-right: 0px;
    margin-right: 20px;
    padding-bottom: 32px;
    width: 600px;
    padding-left: 25px;
  }
}
.img__iO4De {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-bottom: 65px;
  margin-top: 0px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__iO4De > picture > img {
  object-fit: cover;
}
.img__iO4De > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1152px) {
  .img__iO4De {
    margin-bottom: 2px;
  }
}
.text__n4SDo {
  position: relative;
  width: 597px;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .text__n4SDo {
    padding-right: 15px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tho2F {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 607px;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 7px;
}
@media (max-width: 1152px) {
  .freeBox__tho2F {
    width: 612px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}
.img__hbgmm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 20px;
  margin-bottom: 15px;
  flex-shrink: 0;
}
.img__hbgmm > picture > img {
  object-fit: cover;
}
.img__hbgmm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1152px) {
  .img__hbgmm {
    margin-bottom: 40px;
    margin-top: 0px;
  }
}
.text___1HUvf {
  position: relative;
  width: 586px;
  height: 48px;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 15px;
  color: var(--token-IdEab-76o);
  text-align: left;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .text___1HUvf {
    width: 100%;
    height: 66px;
    min-width: 0;
  }
}
.freeBox___8Dxx3 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px 8px 8px 103px;
}
@media (max-width: 1152px) {
  .freeBox___8Dxx3 {
    width: 600px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
.img__x5NQq {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: 0px 0px 22px;
}
.img__x5NQq > picture > img {
  object-fit: contain;
}
.img__x5NQq > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (max-width: 1152px) {
  .img__x5NQq {
    margin-bottom: 50px;
    height: 29px;
  }
}
.text__oRvVd {
  position: relative;
  width: 613px;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  text-align: left;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .text__oRvVd {
    padding-right: 24px;
    width: 100%;
    margin-left: 0px;
    min-width: 0;
  }
}
.freeBox__uUM2 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 613px;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  display: none;
  padding: 8px 0px 8px 11px;
}
@media (max-width: 1152px) {
  .freeBox__uUM2 {
    width: 600px;
    margin-right: 0px;
    padding-left: 17px;
    padding-bottom: 10px;
  }
}
.img__zBk2Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 20px;
  margin-bottom: 100px;
  flex-shrink: 0;
}
.img__zBk2Q > picture > img {
  object-fit: cover;
}
.img__zBk2Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1152px) {
  .img__zBk2Q {
    margin-bottom: 122px;
  }
}
.text__ioEbm {
  position: relative;
  width: 626px;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  text-align: left;
  padding-right: 35px;
  margin-right: 0px;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .text__ioEbm {
    padding-right: 26px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__gAIb6 {
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 743px;
  height: auto;
  max-width: 800%;
  display: none;
  padding: 8px 8px 8px 78px;
}
@media (max-width: 1152px) {
  .freeBox__gAIb6 {
    width: 600px;
    max-width: 100%;
    padding-left: 18px;
  }
}
.img__fryIu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-top: 12px;
  flex-shrink: 0;
}
.img__fryIu > picture > img {
  object-fit: cover;
}
.img__fryIu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1152px) {
  .img__fryIu {
    margin-bottom: 8px;
    margin-top: 10px;
  }
}
.text__mPyhZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  padding-left: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  margin-bottom: 70px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-right: 91px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__mPyhZ {
    padding-top: 0px;
    padding-right: 14px;
  }
}
.text__g9Yvy {
  position: relative;
  width: 592px;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-vHb3nx1t6Zc1Q1);
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  align-self: center;
  padding-right: 0px;
  margin-left: 0px;
  font-weight: 500;
  display: none;
}
@media (max-width: 1152px) {
  .text__g9Yvy {
    width: 630px;
    text-align: left;
    padding-left: 34px;
    max-width: 100%;
    padding-right: 28px;
  }
}
.text__zHIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 594px;
  text-align: left;
  font-size: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: 0px;
  min-width: 0;
  display: none;
}
@media (max-width: 1152px) {
  .text__zHIr {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    max-width: 653px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 36px;
    min-width: 0;
  }
}
