.urlForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1152px) {
  .urlForm {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 0;
    display: flex;
    padding: 10px 10px 10px 0px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  width: 407px;
  height: 70px;
  margin-left: 0px;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .textInput:global(.__wab_instance) {
    margin-right: 0px;
    width: 260px;
    margin-left: 0px;
    height: 70px;
    align-self: flex-start;
    flex-shrink: 0;
  }
}
.svg___0AyuK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__urQoS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 0px;
  margin-left: 15px;
  width: 162px;
  flex-shrink: 0;
}
@media (max-width: 1152px) {
  .button:global(.__wab_instance) {
    width: 147px;
    margin-left: 0px;
    height: 56px;
    margin-right: 0px;
    flex-shrink: 0;
  }
}
.svg___9PiqW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 22px;
  font-weight: 500;
  max-width: 148px;
  width: 100%;
  padding-left: 0px;
  margin-left: 6px;
  color: #eeeeee;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text {
    width: 100%;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    height: 22px;
    max-width: 30px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    min-width: 0;
    padding: 0px 46px 10px 0px;
    margin: 2px 0px 0px;
  }
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 6px;
  margin-left: 24px;
}
@media (max-width: 1152px) {
  .svg {
    height: 25px;
    width: 77px;
    color: #ffffff;
    margin: 0px 20px 10px 10px;
  }
}
