.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (max-width: 1152px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__abTAm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 52px 0px 0px;
}
.blogNavbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 52px;
}
.freeBox__ahXyg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  padding: 0px 8px 8px;
}
@media (max-width: 1152px) {
  .freeBox__ahXyg {
    background: #ffffff;
  }
}
.columns__usu4V {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px 8px;
}
.columns__usu4V > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__usu4V > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (max-width: 1152px) {
  .columns__usu4V {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__usu4V > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jKfVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 8px;
}
.img__blnJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 830px;
  height: 475.28px;
  margin-left: 0px;
  flex-shrink: 0;
}
.img__blnJ > picture > img {
  object-fit: cover;
}
.img__blnJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1252px) {
  .img__blnJ {
    width: 550px;
    height: 250px;
    margin-left: 0px;
    align-self: center;
    flex-shrink: 0;
  }
}
@media (max-width: 1152px) {
  .img__blnJ {
    width: 330px;
    height: 185.39px;
    flex-shrink: 0;
  }
}
.column__xpani {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 90px 8px 8px 0px;
}
@media (max-width: 1252px) {
  .column__xpani {
    padding-top: 25px;
  }
}
@media (max-width: 1152px) {
  .column__xpani {
    padding: 0px;
  }
}
.freeBox__igvxr {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 330px;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__igvxr {
    display: flex;
  }
}
.text___1XqdD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text___1XqdD {
    text-align: left;
    width: 99.7%;
    margin-left: 0px;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
  }
}
.text__d0MXe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  line-height: 140%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__d0MXe {
    font-size: 16px;
    width: 100%;
    margin-left: 0px;
    text-align: left;
    color: var(--token-gLH3k6dyX);
    letter-spacing: 1.6px;
  }
}
.text__fJkb1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #00000080;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__fJkb1 {
    width: 100%;
    align-self: center;
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    color: var(--token-hckKrxCO-);
  }
}
.text___4H3Ep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-MkrLtqNf7);
  text-align: left;
  font-weight: 500;
  min-width: 0;
  display: none;
}
@media (max-width: 1252px) {
  .text___4H3Ep {
    display: none;
  }
}
@media (max-width: 1152px) {
  .text___4H3Ep {
    display: none;
  }
}
.text__ufbNb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-hguNGz6g2);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__ufbNb {
    display: none;
  }
}
.text___5C9XJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-IbrLaZANW);
  font-size: 34px;
  padding-bottom: 10px;
  min-width: 0;
}
@media (max-width: 1252px) {
  .text___5C9XJ {
    font-weight: 600;
  }
}
@media (max-width: 1152px) {
  .text___5C9XJ {
    display: none;
  }
}
.text__crzb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__crzb {
    display: none;
  }
}
.freeBox__zk3QC {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 79.86%;
  align-self: center;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 1152px) {
  .freeBox__zk3QC {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 100%;
  }
}
.freeBox__jNafO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px 4px;
}
@media (max-width: 1152px) {
  .freeBox__jNafO {
    width: 100%;
  }
}
.columns___0BVIk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns___0BVIk > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1152px) {
  .columns___0BVIk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns___0BVIk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1JIqa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px;
}
@media (max-width: 1152px) {
  .column___1JIqa {
    padding: 30px;
  }
}
.img___8YyoR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 308.5px;
  height: 173.52px;
  flex-shrink: 0;
}
.img___8YyoR > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img___8YyoR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 1152px) {
  .img___8YyoR {
    width: 330px;
    height: 185.39px;
    flex-shrink: 0;
  }
}
.freeBox__iEb4M {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 330px;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (max-width: 1152px) {
  .freeBox__iEb4M {
    display: flex;
  }
}
.text__utCdD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  color: var(--token-LUzL-ikOZ);
  font-weight: 600;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__utCdD {
    padding-top: 10px;
    text-align: left;
    font-size: 16px;
    padding-right: 0px;
    color: var(--token-nYWUUeCaE);
    padding-left: 0px;
    align-self: center;
    width: 100%;
    margin-left: 0px;
    letter-spacing: 1.6px;
  }
}
.text__ylWhw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  color: var(--token-4lVQ5Rf5x);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1152px) {
  .text__ylWhw {
    padding-top: 10px;
    font-size: 18px;
    padding-right: 12px;
    margin-right: 0px;
    max-width: 325px;
    width: 100%;
    padding-left: 0px;
    text-align: left;
    color: var(--token-eU1YGvW-N);
    min-width: 0;
  }
}
.text___8QR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  text-align: left;
  color: var(--token-lNn_lRCpw);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1252px) {
  .text___8QR {
    font-weight: 500;
  }
}
@media (max-width: 1152px) {
  .text___8QR {
    display: none;
  }
}
.text___27Qi6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: left;
  color: var(--token-Yv5kt8xkf);
  min-width: 0;
}
@media (max-width: 1152px) {
  .text___27Qi6 {
    display: none;
  }
}
.freeBox___6Ymyn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___9KJu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px 0px;
}
.footerSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
