.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__kwat2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  background: #00304c;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
.columns__enP5J {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__enP5J > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__enP5J > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns__enP5J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns__enP5J > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tu8Ue {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__oqBot {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__j4Jye {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.text___8O3I {
  width: 100%;
  max-width: 800px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.svg__zOwu5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 6px;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__tgOne {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.columns___4Fc5G {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___4Fc5G > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___4Fc5G > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 1152px) {
  .columns___4Fc5G {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1152px) {
  .columns___4Fc5G > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__d4TXj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jUmuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tfG2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__u1Un {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.svg__qWh8F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__tmw3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 656px;
  height: auto;
  max-width: 100%;
  padding: 48px 8px 8px;
}
.freeBox__lvjS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wD9Au {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___4TDc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__k6Ti7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 48px;
  min-width: 0;
  padding: 8px;
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__kLvcv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.textInput__jaPvp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bolsC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iIDsV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput__oDgFb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sb3Cm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__z60Jd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__r3Aql {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__o2Gh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
