.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 114px;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .root {
    background: #ffffff;
    padding-bottom: 76px;
  }
}
.freeBox__mx4VT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  background: #00304c;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
.columns__iu7X2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__iu7X2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__iu7X2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__iu7X2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__iu7X2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zgLKv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .column__zgLKv {
    display: none;
  }
}
.column__lhAaS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__iEq3O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.text__sNqXd {
  width: 100%;
  max-width: 800px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__sNqXd {
    display: none;
  }
}
.freeBox___9Cuyw {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 43px;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-top: 50px;
  align-self: flex-end;
  margin-right: 0px;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .freeBox___9Cuyw {
    display: flex;
  }
}
.button__aTyeH {
  position: relative;
  text-align: right;
  align-self: flex-end;
  background: #86dc45;
  color: var(--token-tlaSOFzbF);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 8px 9px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 6px;
  color: #ffffff;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
@media (max-width: 640px) {
  .svg {
    display: none;
  }
}
.freeBox__m282 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__m282 {
    display: none;
  }
}
.columns__vE1Bt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vE1Bt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vE1Bt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__vE1Bt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__vE1Bt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__otBaA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ymBoN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 144px;
  height: 80px;
  flex-shrink: 0;
}
.img__ymBoN > picture > img {
  object-fit: cover;
}
.img__ymBoN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__tpbMb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__dBbv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-size: 15px;
  min-width: 0;
}
.freeBox__bMnKh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 656px;
  height: auto;
  max-width: 100%;
  padding: 89px 8px 50px;
}
.freeBox__xC6Nf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 640px) {
  .freeBox__xC6Nf {
    padding-top: 95px;
    width: auto;
  }
}
.text__tHCpC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-yVhCEUIOp);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: "Inter", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__tHCpC {
    font-size: 14px;
    padding: 15px;
  }
}
.text__yFObR {
  position: relative;
  width: auto;
  height: 77px;
  max-width: 800px;
  font-size: 33px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-weight: 800;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__yFObR {
    padding-bottom: 0px;
    line-height: 37px;
    width: 400px;
    font-size: 28px;
  }
}
.freeBox__oiJ9O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 473.59px;
  height: 563.75px;
  max-width: 100%;
  margin-top: 48px;
  background: var(--token-mz2wrosK-);
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__oiJ9O {
    margin-top: 60px;
  }
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__mobWs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 26px;
  color: var(--token-KtLSLsCvb);
  font-weight: 800;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 409.59px;
  height: 64px;
  margin-bottom: 8px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .textInput:global(.__wab_instance) {
    width: 340px;
  }
}
.svg__mwWk3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4Z7B9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 409.59px;
  height: 64px;
  margin-bottom: 24px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .textInput2:global(.__wab_instance) {
    width: 340px;
  }
}
.svg__iTs8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bM8DC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mnAe9 {
  position: relative;
  width: 409.59px;
  height: 64px;
  background: var(--token-3UuYO1yC3);
  color: var(--token-c8INgJzL6YO8CI);
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 23px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .button__mnAe9 {
    width: 340px;
    font-size: 15px;
    align-self: center;
    padding: 0px;
  }
}
.text__sc7Zo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-bottom: 15px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text___5KuUj {
  position: relative;
  width: 370px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  line-height: 24px;
  font-family: "Inter", sans-serif;
  padding: 10px 0px;
  margin: 0px;
}
.text___7Ed1P {
  position: relative;
  width: 553.75px;
  height: 67px;
  max-width: 800px;
  font-size: 20.8px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text___7Ed1P {
    padding-bottom: 20px;
    width: 550px;
    font-size: 15px;
    padding-right: 90px;
    padding-left: 91px;
  }
}
.freeBox__l7NGy {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__l7NGy {
    display: none;
  }
}
.columns__hw4WO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hw4WO > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 640px) {
  .columns__hw4WO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 640px) {
  .columns__hw4WO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__irByA {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .column__irByA {
    display: none;
  }
}
.columns__mRd1U {
  display: flex;
  position: relative;
  width: 660px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__mRd1U > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__mRd1U > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__mRd1U {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 640px) {
  .columns__mRd1U > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lr66N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 0px;
}
@media (max-width: 640px) {
  .column__lr66N {
    display: none;
  }
}
.columns__z3Xvj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__z3Xvj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__z3Xvj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__z3Xvj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__z3Xvj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5LHIt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hNve {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 42px;
  align-self: center;
  flex-shrink: 0;
}
.img__hNve > picture > img {
  object-fit: cover;
}
.img__hNve > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__qQh9A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__on2Od {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
}
.img__on2Od > picture > img {
  object-fit: cover;
}
.img__on2Od > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__b6AD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .column__b6AD {
    display: none;
  }
}
.columns__tb6B {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tb6B > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__tb6B > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__tb6B {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__tb6B > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zrHiv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 640px) {
  .column__zrHiv {
    display: none;
  }
}
.img__dbqY9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 100%;
}
.img__dbqY9 > picture > img {
  object-fit: cover;
}
.img__dbqY9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__qLpWa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.img__fcPsg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 103.62px;
  height: 42px;
  flex-shrink: 0;
}
.img__fcPsg > picture > img {
  object-fit: cover;
}
.img__fcPsg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__sfVe {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__sfVe {
    display: flex;
  }
}
.columns__ybjsw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ybjsw > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ybjsw > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__ybjsw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__ybjsw > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 640px) {
  .columns__ybjsw > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__ebFfW {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 24px 8px 61px;
}
@media (max-width: 640px) {
  .column__ebFfW {
    display: flex;
  }
}
.img__lCp1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 180px;
}
.img__lCp1 > picture > img {
  object-fit: cover;
}
.img__lCp1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ohhRx {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 31px 8px 8px;
}
@media (max-width: 640px) {
  .column__ohhRx {
    display: flex;
  }
}
.img__qBSeH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 180px;
}
.img__qBSeH > picture > img {
  object-fit: cover;
}
.img__qBSeH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__iwcMz {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 5px;
}
@media (max-width: 640px) {
  .freeBox__iwcMz {
    display: flex;
  }
}
.columns__ugi4Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ugi4Q > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ugi4Q > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__ugi4Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__ugi4Q > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (max-width: 640px) {
  .columns__ugi4Q > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column___3SGj1 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 16px 8px 49px;
}
@media (max-width: 640px) {
  .column___3SGj1 {
    display: flex;
  }
}
.img___4LHiF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
}
.img___4LHiF > picture > img {
  object-fit: cover;
}
.img___4LHiF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___96Pbt {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 39px 0px 2px;
}
@media (max-width: 640px) {
  .column___96Pbt {
    display: flex;
  }
}
.img__xtijf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 74px;
  flex-shrink: 0;
}
.img__xtijf > picture > img {
  object-fit: cover;
}
.img__xtijf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xqWh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__u5Qqx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 600px;
  height: 61px;
  margin-top: 13px;
  flex-shrink: 0;
}
.img__u5Qqx > picture > img {
  object-fit: cover;
}
.img__u5Qqx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__u5Qqx {
    width: 650px;
    object-fit: contain;
  }
}
@media (max-width: 640px) {
  .img__u5Qqx > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 640px) {
  .img__u5Qqx > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.text___9McYa {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 608px;
  margin-bottom: 0px;
  color: var(--token-nsn0GxMCBwQ3jx);
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .text___9McYa {
    padding-left: 15px;
  }
}
.freeBox__o0YGh {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__o0YGh {
    display: none;
  }
}
.freeBox__akam6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 619px;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 12px;
}
@media (max-width: 640px) {
  .freeBox__akam6 {
    padding-right: 0px;
    margin-right: 20px;
    padding-bottom: 32px;
    width: 600px;
    padding-left: 25px;
  }
}
.img___1N7Ee {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-bottom: 65px;
  margin-top: 0px;
  flex-shrink: 0;
}
.img___1N7Ee > picture > img {
  object-fit: cover;
}
.img___1N7Ee > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___1N7Ee {
    margin-bottom: 2px;
  }
}
.text__tWi6B {
  position: relative;
  width: 597px;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  padding-bottom: 0px;
  text-align: left;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__tWi6B {
    padding-right: 15px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__o9Cp9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 607px;
  height: auto;
  max-width: 100%;
  padding: 7px;
}
@media (max-width: 640px) {
  .freeBox__o9Cp9 {
    width: 612px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}
.img__hqwE3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 20px;
  margin-bottom: 15px;
  flex-shrink: 0;
}
.img__hqwE3 > picture > img {
  object-fit: cover;
}
.img__hqwE3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__hqwE3 {
    margin-bottom: 40px;
    margin-top: 0px;
  }
}
.text__tQtib {
  position: relative;
  width: 586px;
  height: 48px;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 15px;
  color: var(--token-IdEab-76o);
  text-align: left;
  padding-left: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__tQtib {
    width: 100%;
    height: 66px;
    min-width: 0;
  }
}
.freeBox__xJnUi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 103px;
}
@media (max-width: 640px) {
  .freeBox__xJnUi {
    width: 600px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
.img__qiYgl {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: 0px 0px 22px;
}
.img__qiYgl > picture > img {
  object-fit: contain;
}
.img__qiYgl > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__qiYgl {
    margin-bottom: 50px;
    height: 29px;
  }
}
.text__gakrn {
  position: relative;
  width: 613px;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  text-align: left;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__gakrn {
    padding-right: 24px;
    width: 100%;
    margin-left: 0px;
    min-width: 0;
  }
}
.freeBox__s0JXe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 613px;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  padding: 8px 0px 8px 11px;
}
@media (max-width: 640px) {
  .freeBox__s0JXe {
    width: 600px;
    margin-right: 0px;
    padding-left: 17px;
    padding-bottom: 10px;
  }
}
.img__hjsUn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 20px;
  margin-bottom: 100px;
  flex-shrink: 0;
}
.img__hjsUn > picture > img {
  object-fit: cover;
}
.img__hjsUn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__hjsUn {
    margin-bottom: 122px;
  }
}
.text__fb8Ix {
  position: relative;
  width: 626px;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  font-size: 15px;
  color: var(--token-vHb3nx1t6Zc1Q1);
  padding-left: 15px;
  text-align: left;
  padding-right: 35px;
  margin-right: 0px;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__fb8Ix {
    padding-right: 26px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__jpMmd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 743px;
  height: auto;
  max-width: 800%;
  padding: 8px 8px 8px 78px;
}
@media (max-width: 640px) {
  .freeBox__jpMmd {
    width: 600px;
    max-width: 100%;
    padding-left: 18px;
  }
}
.img__oJGi9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  margin-top: 12px;
  flex-shrink: 0;
}
.img__oJGi9 > picture > img {
  object-fit: cover;
}
.img__oJGi9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__oJGi9 {
    margin-bottom: 8px;
    margin-top: 10px;
  }
}
.text___9HBi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 15px;
  padding-left: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  margin-bottom: 70px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-right: 91px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___9HBi {
    padding-top: 0px;
    padding-right: 14px;
  }
}
.text__wwbN {
  position: relative;
  width: 592px;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: var(--token-vHb3nx1t6Zc1Q1);
  margin-bottom: 25px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  align-self: center;
  padding-right: 0px;
  margin-left: 0px;
  font-weight: 500;
}
@media (max-width: 640px) {
  .text__wwbN {
    width: 630px;
    text-align: left;
    padding-left: 34px;
    max-width: 100%;
    padding-right: 28px;
  }
}
.text__k8Bu6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 594px;
  text-align: left;
  font-size: 15px;
  color: var(--token-nsn0GxMCBwQ3jx);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-left: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__k8Bu6 {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    max-width: 653px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 36px;
    min-width: 0;
  }
}
